<hr/><h1>Available Dogs<h1>
<hr/>

<br />
<label> Choose A Dog </label>
<p> Enter the dogs name at the bottom of the page
<hr/>
  <form action="/dogs/show" method="show">
  <img src="https://petrescuereport.com/wp-content/uploads/young-german-shepherd-out-of-time.jpg" alt="German Shepard" height="400" width="400">  <br><br/>
  <label> Angel </label>
  <!--<input type="checkbox" id="choose" name="Angel" value="Dog1"> -->
  <br />
    <br/>
  
  <hr/>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcToUdPJkznYlbAyJsV06Q_nev83YFzHz7OSQj6RmrAqT1Ncsm76&usqp=CAU
" alt="Pit Bull" height="400" width="400"><br/>

<label> Rocky </label>
<!-- <input type="checkbox" id="choose" name="Rocky" value="Dog2"> -->
 <br />
    
  <hr/>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcReLRYyUjn6AljSbEdeIDq2gId_JiSCljEyMAiqYn7Dt0FJQep_&usqp=CAU" alt="Golden retriver" height="400" width="400">  <br><br/>
  <label> Gordan </label>
  <!--<input type="checkbox" id="choose" name="Gordan" value="Dog3">-->
  <br />
                <br />
  

 <hr/>
<style>
body {
  background-color: brown;
}

h1 {
  color: black;
  margin-left: 40px;
}
</style>
</head>