<h1>Edit Dogs Name</h1>

<form action="/dogs/<%=@dog.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Name: </label>
  <strong> <%=@dog.name%> </strong>
  <br/><br/>
  <label>Name of choice: </label>
  <textarea rows="1" cols="16" type="text" name="dog[second_name]"><%=@dog.second_name%></textarea><br />
  <input type="submit" value="Submit Changes">
</form>

<style>
body {
  background-color: brown;
}

h1 {
  color: black;
  margin-left: 40px;
}
</style>
</head>