<h2>Dogs</h2>
<hr/>
<ul>
<% @dogs.each do |dog| %>
  <li><a href="/dogs/<%=dog.id %>"><%=dog.name %></a> <%=dog.user.username if dog.user%>
  </li>
<%end%>
</ul>


<style>
body {
  background-color: brown;
}

h1 {
  color: black;
  margin-left: 40px;
}
</style>
</head>
