<h3>Add A Dog</h3>
<hr/>

<form action="/dogs" method="post">
 <label>Name: </label>
 <input type="text" name="name" /><br/>
 <br/>
 <label>Second Name: </label>
 <textarea rows="2" cols="32" type="text" name="second_name"></textarea><br/>
 <input type="submit" value="Create Dog">
</form>

<hr/>


<br />
<b> Choose A Dog </b>
<i> Enter the dogs name and then a name you would like to give it at the top of the page after scrolling through the pictures of the dogs!</i>

<hr/>
  <form action="/dogs/show" method="show">
  <img src="https://petrescuereport.com/wp-content/uploads/young-german-shepherd-out-of-time.jpg" alt="German Shepard" height="400" width="400">  <br><br/>
  <em> Angel</em>
  <!--<input type="checkbox" id="choose" name="Angel" value="Dog1"> -->
  <br />
  
    <br/>
  
  <hr/>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcToUdPJkznYlbAyJsV06Q_nev83YFzHz7OSQj6RmrAqT1Ncsm76&usqp=CAU
" alt="Pit Bull" height="400" width="400"><br/>

<em> Rocky </em>
<!-- <input type="checkbox" id="choose" name="Rocky" value="Dog2"> -->
 <br />
 
    
  <hr/>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcReLRYyUjn6AljSbEdeIDq2gId_JiSCljEyMAiqYn7Dt0FJQep_&usqp=CAU" alt="Golden retriver" height="400" width="400">  <br><br/>
  <em> Gordan </em>
  <!--<input type="checkbox" id="choose" name="Gordan" value="Dog3">-->
  <br />
  
                <br />
  

 <hr/>

  <img src="https://www.thelabradorsite.com/wp-content/uploads/2018/02/rescue.jpg" height="400" width="400" >  <br><br/>
  <em> Buddy </em>
  <!--<input type="checkbox" id="choose" name="Gordan" value="Dog3">-->
  <br />
  
                <br />
  

 <hr/>



  <img src="https://www.gentlegiantsrescue.com/images/Caged%20720.jpg" height="400" width="400" >  <br><br/>
  <em> Happy </em>
  <!--<input type="checkbox" id="choose" name="Gordan" value="Dog3">-->
  <br />
  
                <br />
  

 <hr/>



 <img src="https://www.pe.com/wp-content/uploads/2018/11/RPE-L-HUSKIES-1127-01-SL-1.jpg?w=508" height="400" width="400" >  <br><br/>
  <em> Zeus </em>
  <!--<input type="checkbox" id="choose" name="Gordan" value="Dog3">-->
  <br />
  
                <br />
  

 <hr/>



 <img src="https://michellemuto.files.wordpress.com/2015/07/boyinchicagofb.jpg" height="400" width="400" >  <br><br/>
 <em> Patch </em>
 <!--<input type="checkbox" id="choose" name="Gordan" value="Dog3">-->
 <br />
 
               <br />
  


<style>
body {
  background-color: brown;
}

h1 {
  color: black;
  margin-left: 40px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: 40px;
  
}
 
em { display: inline;
float: left;
text-align: right;
width: 6em;
margin-right: 1em;
margin-top: -8em;
font-size:50px
  
}

</style>



