  <h3>All Users</h3>
  <hr/>
  <em>The number next to the users name signifies how many dogs a user currently has.</em>
  <hr/>
  <% @users.each do |u| %>
   <p> <a href="/users/<%=u.id%>"> <%= u.username.titleize %>
   <%= u.dogs.count %>  </a></p>
  <%end%>


<!--displays current how many current users logged in<h5><%=@users.count%></h5>-->
  <style>
body {
  background-color: brown;
}

h1 {
  color: black;
  margin-left: 40px;
}
</style>
</head>