<h3><%= @user.username %></h3>
<hr/>
<ul>
  <% @dogs.each do |d| %>
    <li><a href="/dogs/<%=d.id%>"> <%= d.name %> </a></li>
  <%end%>
</ul>

<style>
body {
  background-color: brown;
}

h1 {
  color: black;
  margin-left: 40px;
}
</style>
</head>