<h1>Sign Up To View Dogs<h1>

<form action="/signup" method="post">
<br/>
<label> Username </label>
<input type="text" name="username" />
<br/>
<label> Email </label>
<input type="email" name="email" /><br />
<label> Password </label>
<input type="password" name="password" /><br />
<input type="submit" />
</form>

<style>


h1 {
  color: black;
  margin-left: 40px;
}
</style>
</head>
