<div class="container">
   <div class="col-md-8 col-md-offset-2">
   <h1> Welcome to the Online Animal Shelter<h1>
   <h3> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a><h3>
   </div>
   <style>
   body {
     background-color: brown;
     background-image:url('https://www.kreature.co.uk/wp-content/uploads/2011/06/dewhursts-2.jpg');
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 170%;
   }
   h1 {
     color: black;
     margin-left: 40px;
   }
   h3 {
    color: black;
    margin-left: 40px;
  }
   </style>
   
