<div class="container">
   <div class="col-md-8 col-md-offset-2">
   <h1> Welcome to the online animal shelter and shop<h1>
   <h3> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a><h3>
   </div>
   <style>
   body {
     background-color: brown;
   }
   
   h1 {
     color: white;
     margin-left: 40px;
   }
   h3 {
    color: black;
    margin-left: 40px;
  }
   </style>
   </head>


